{% extends "PhotoIndex/nav_base.html" %}
{% block title %}Collection{% endblock title %}
{% block nav_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            {% for dir in dirs %}
            {% include "PhotoIndex/directory.html" with parent=dir.parent children=dir.children %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock nav_content %}

{% comment "" %}
{% for dir in dirs %}
    <h1>{{ dir.parent.name }}</h1>
    {% for child in dir.children %}
        <h2>{{ child.name }}</h2>
    {% endfor %}
{% endfor %}
{% endcomment %}